.content1, .content2, .pic, .row{
    text-align: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.pic, .row{
    padding: 2vh;
}
.photo{
    width: 30vh;
    height: auto;   
    border-radius: 50%;
}

h2{
    font-family: 'Noto Sans', sans-serif;
}
